---
title: Erin Wright Photography
meta-description: Erin Wright Photography | Walla Walla Washington
featured-image_path: /uploads/pr-photos-6472.jpg
---
<!DOCTYPE html>
<!-- THIS IS THE FRONT PAGE THAT YOU SEE BEFORE YOU ENTER THE SITE  -->
<head>
      {% include head.html %}

      <!-- This adds page specific content to the head of that page. -->
      {{page.head_html}}
</head>

<body>
<section class="centered">
<div>
  <h1>Erin Wright Photography</h1>
  <h2>Walla Walla, Washington</h2>
</div>

<div class="button">
  <a href="/main.html">Enter Site</a>
</div>

</section>

    <label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>
    {% include body-scripts.html %}
</body>
