---
title: Mandy Rodoni Stylist + Photographer
meta-description: Mandy Rodoni
featured-image_path: /uploads/pr-photos-6472.jpg
---
<!DOCTYPE html>
<!-- THIS IS THE FRONT PAGE THAT YOU SEE BEFORE YOU ENTER THE SITE  -->
<head>
      {% include head.html %}

      <!-- This adds page specific content to the head of that page. -->
      {{page.head_html}}
</head>
<body>


<section class="landing">
  <!-- <div class="logo">
    <img src="/images/logo.png" />
  </div>
<div> -->
  <div class="centered">
    <img src="/images/logo-inverted.png" />
    <h1>Mandy Rodoni</h1>
    <h4>Wardrobe + Photography Stylist</h4>
  </div>
  <div class="centered">
  <a class="button-inverted" href="/pricing.html">Investment</a>
  <a class="button-inverted" href="/gallery.html">Gallery</a>
  </div>
  <footer class="centered">
    <a href="#"><i class="fa fa-instagram"></i></a>
  </footer>
  </div>
</section>

    <label class="pure-overlay" for="pure-toggle-right" data-overlay="right"></label>

    {% include body-scripts.html %}
</body>
